
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ba51fa92580444a49ecc819c9907a165.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiebaozhuanhuan01:before { content: "\e637"; }

.icon-icon17:before { content: "\e611"; }

.icon-shipin:before { content: "\e65b"; }

.icon-nvzhuang:before { content: "\e62b"; }

.icon-qingquyongpin:before { content: "\e607"; }

.icon-yifu:before { content: "\e666"; }

.icon-caidan:before { content: "\e608"; }

.icon-muying:before { content: "\e617"; }

.icon-huazhuangpin:before { content: "\e679"; }

.icon-Jdianzichanpin-shumaxiangji:before { content: "\e623"; }






.button_1 {
    color: #fff;
  background: #EB5A41;
  padding: 0.7em 0.9em;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  margin-top: 1em;
}
.tabs-wrapper {
    height: 120px;
    overflow: hidden;
    background-color: #fff;
    width:100%;
	border-bottom:1px solid #ddd;
}
.tabs {
    position: relative;
    width: 100%;
    padding-right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    transition: all .5s ease;
}
.tabs a {
    display: block;
    line-height: 16px;
    padding: 0;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 20%;
    text-align: center;
    float: left;
	margin-top:8px;
}
.tabs a p{ height:30px;}
.tabs a img{
	width:25px;
}
.tabs a.tab-active {
    position: relative;
    font-size: 14px;
    color: #FE814B;
}

.tabs a.tab-active:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 24%;
    width: 55%;
    height: 2px;
    /*background: linear-gradient(180deg,#FE814B,#EDB562);*/
}

.tabs-wrapper .category {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 62px;
    background: #FFF;
	color:#999;
	line-height:62px;
	text-align:center;
	font-size:14px;
	color:#FE814B;
}
.tabs-wrapper .category i{
	font-size:24px;
}
.categorys01{
    position:relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
.categorys01 .wrapper{
    padding: 30px 10px 0 10px;
}
.categorys01 h1{
    position: relative;
    line-height: 36px;
    font-size: 18px;
}
.categorys01 h1 i{
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #5A4444 url(../images/close.png) no-repeat;
    background-size: 16px;
    background-position: center;
}
.categorys01 .icons{
    padding-top: 10px;
    font-size: 0;
}
.categorys01 .icons img{
    padding: 5px;
    width:50%;
    box-sizing: border-box;
    vertical-align: middle;
}

.categorys01 .often-column{
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}
.categorys01 .often-column  li{
	width:24%;
	margin-left:1%;
	height:30px;
	line-height:30px;
	float:left;
	margin-top:8px;
	border-radius:2px;
	font-size:13px;
}
.categorys01 .column{
	width:100%;
	overflow:hidden;
    overflow-y:auto;
	padding-bottom:20px;
}
.categorys01 .column  li{
	width:23.8%;
	margin-left:1%;
	height:30px;
	line-height:30px;
	border:1px solid #ddd;
	float:left;
	margin-top:8px;
	text-align:center;
	border-radius:2px;
	font-size:12px;
}

.banner-lh img{
    width: 100%
}